# Domain
DOMAIN_NAME=login.42.fr

# MariaDB
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_db_user
MYSQL_PASSWORD=your_db_password
MYSQL_ROOT_PASSWORD=your_root_password

# WordPress
WORDPRESS_URL=https://login.42.fr
WORDPRESS_TITLE=your_site_title
WORDPRESS_DB_HOST=maria-container

# WordPress Admin (must not be named "admin")
WORDPRESS_ADMIN_USER=your_admin_username
WORDPRESS_ADMIN_PASSWORD=your_admin_password
WORDPRESS_ADMIN_EMAIL=your_admin@example.com

# WordPress Second User
WORDPRESS_USER=your_username
WORDPRESS_USER_EMAIL=your_user@example.com
WORDPRESS_USER_PASSWORD=your_user_password